.comment__box {
  display: flex;
}

.comment__input {
  flex: 1;
  padding: 10px;
  outline: none;
  border: none;
  border-top: 1px solid lightgray;
}

.post__btn {
  width: 80px;
}

.post__comments {
  padding: 10px;
}

.post__comments h5 {
  font-weight: normal;
}
